.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.product-info h4{
    color: blue;
    font-size: 20px;
}
.cart-btn{
    background-color: goldenrod;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}